@model ProjectBase.Web.Models.Project.ProjectDetailsModel

@{
    ViewBag.Title = "Details";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<h2>Details</h2>

<div>
    <h4>ProjectDetailsModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyCustomer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyCustomer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyPerformer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyPerformer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectChief)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectChief)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CloseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CloseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            Участники:
        </dt>
        <dd id="participants">
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: '/Project/GetParticipants',
            data: { projectId: '@Model.Id' },
            success: function (response) {
                console.log(response);
                AjaxResponse(response);
            }
        });
    });

    function AjaxResponse(response) {
        if (response!=0) {
            for (var i = 0; i < response.length; i++) {
                $("#participants").append("<li>" + response[i].name + "</li>") 
            }
        }
        else {
            $("#participants").append("<li>нет участников</li>")
        }
    }
</script>