@model ProjectBase.Web.Models.ProjectModel

@{
    ViewBag.Title = "Детали";
}
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<h2>Детали</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Название")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

        <dt>
            @Html.Label("Компания-заказчик")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.CompanyCustomer.Name)
        </dd>

        <dt>
            @Html.Label("Компания-исполнитель")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.CompanyPerformer.Name)
        </dd>

        <dt>
            @Html.Label("Руководитель")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjectChief.SecondName)
        </dd>

        <dt>
            @Html.Label("Дата начала")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.StartDate)
        </dd>

        <dt>
            @Html.Label("Дата окончания")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.CloseDate)
        </dd>

        <dt>
            @Html.Label("Приоритет")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Priority)
        </dd>

        <dt>
            @Html.Label("Комментарий")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Comment)
        </dd>

        <dt>
            Работники
        </dt>
        <dd id="workers">
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Project.Id }) |
    @Html.ActionLink("Назад к списку", "List")
</p>


<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: '/Project/GetWorkers',
            data: { projectId: '@Model.Project.Id' },
            success: function (response) {
                console.log(response);
                AjaxResponse(response);
            }
        });
    });

    function AjaxResponse(response) {
        if (response!=0) {
            for (var i = 0; i < response.length; i++) {
                $("#workers").append("<li>" + response[i].name + "</li>")
            }
        }
        else {
            $("#workers").append("<li>нет участников</li>")
        }
    }
</script>