@model ProjectBase.Web.Models.ContextModel

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*<div>
    @using (Html.BeginForm("List", "Project", FormMethod.Get))
    {
        <div>
            @Html.TextBox("search", Model.SearchString, new { placeholder = "Поиск", @class = "search-input", type = "search" })
            <input id="submitButton" type="submit" value="Найти" class="btn btn-default" />
        </div>
        <div>
            <div>
                <div class="filter-div left-al">
                    @Html.TextBox("fromDate", Model.FromDate, new { placeholder="Дата начала" })
                    @Html.TextBox("toDate", Model.ToDate, new { placeholder = "Дата окончания" })
                </div>
            </div>
        </div>
    }
</div>*@


<p>
    Найдено @Model.Projects.Count:
</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Customer</th>
        <th>Performer</th>
        <th>Chief</th>
    </tr>

    @foreach (var item in Model.Projects)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", new { Id = item.Id })
            </td>
            <td>
                @item.CompanyCustomer.Name
            </td>
            <td>
                @item.CompanyPerformer.Name
            </td>
            <td>
                @Html.ActionLink(item.ProjectChief.SecondName, "Details", "Employee", new { Id = item.ProjectChief.Id }, null)
            </td>
        </tr>
    }

</table>
